/*
Author: Jessica Thompson
Date: 03/03/2019
Purpose: Style my trivia page
*/

.defaultSelect {
    color: grey;
}

.heading {
    font-weight: bold;
}

.title {
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
}

/*Adjusting the width of the dropdown menus*/
.form-control {
    width: 300px;
}

/*Styling container per instructions*/
#container {
    border: 1px solid green;
    padding: 5px;
    margin: 10px auto;
    background-color: darkgray;
    color: black;
    width: 800px;
}

/*Indenting my answer fields for style*/
.radio, .checkbox, .form-control, .textBox {
    margin-top: 10px;
    margin-left: 20px;
}


body {
    background-color: darkslategrey;
}

/*styling results*/
#results {
    background-color: #00778b;
    margin: 10px;
    padding: 10px;
    color: #ffc72c;
    border: 2px solid black;
}

#correctAnswers {
    color: #ffc72c;
}

.alertIncompleteField {
    color: red;
    font-weight: bold;
}

/*styling buttons so they're the same size*/
#submitAnswers, #resetBtn {
    width: 150px;
    height: 30px;
}

/*Styling the final grade portion of the results*/
.greenFont, .orangeFont, .redFont {
    background: rgba(0, 0, 0, 0.5);
    width: 25%;
    margin: auto;
    font-size: large;
    padding: 5px;
}

.greenFont {
    color: green;
}

.orangeFont {
    color: orange;
}

.redFont {
    color: red;
}